/* Custom CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background: seagreen;
  min-height: 10vh;
}

main {
  background: silver;
  min-height: 70vh;
}

footer {
  background: black;
  min-height: 20vh;
}

.format {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.j-between {
  justify-content: space-between;
  align-items: center;
}

.j-center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.grid {
  display: grid;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid-col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-col-1 {
  grid-template-columns: repeat(2, 1fr);
}

.button {
  padding: 5px 15px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  background: #f4f4f4;
}
.button-active:active {
  background: radial-gradient(green, black);
  color: white;
}

.button-hover:hover {
  background: radial-gradient(green, black);
  color: white;
}

.hover:hover {
  color: #ccc;
}

.active:active {
  color: green;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-green {
  color: seagreen;
}

.text-red {
  color: red;
}
.text-justify {
  text-align: justify;
}

.bg-black {
  background: black;
}

.bg-gray {
  background: #24272A;
}

.bg-white {
  background: white;
}

.bg-green {
  background: seagreen;
}

.bg-red {
  background: red;
}

.bg-tomato {
  background: tomato;
}

.bg-orange {
  background: orange;
}

.bg-oranged {
  background: orangered;
}
.bg-skyblue {
  background: #A8C7FA;
}

.list-none {
  list-style: none;
}

a {
  text-decoration: none;
}

.transition {
  transition: all 200ms linear;
}

.transition-500 {
  transition: all 500ms linear;
}

.transition-1000 {
  transition: all 1000ms linear;
}

.height-0 {
  height: 0;
  overflow: hidden;
}

.height-5 {
  height: 5vh;
}

.height-10 {
  height: 10vh;
}
.height-15 {
  height: 15vh;
}

.height-20 {
  height: 20vh;
}
.height-25 {
  height: 25vh;
}

.height-30 {
  height: 30vh;
}

.height-40 {
  height: 40vh;
}

.height-50 {
  height: 50vh;
}

.height-60 {
  height: 60vh;
}

.height-70 {
  height: 70vh;
}

.height-80 {
  height: 80vh;
}

.height-90 {
  height: 90vh;
}

.height-100 {
  height: 100vh;
}

.min-height {
  min-height: 1vh;
}

.max-height {
  max-height: 100vh;
  overflow-y: hidden;
}

.max-width {
  max-width: 100vw;
  overflow-x: hidden;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90%;
  margin: auto;
}

.width-80 {
  width: 80%;
  margin: auto;
}

.width-70 {
  width: 70%;
  margin: auto;
}

.width-60 {
  width: 60%;
  margin: auto;
}

.width-50 {
  width: 50%;
  margin: auto;
}

.width-40 {
  width: 40%;
  margin: auto;
}

.width-30 {
  width: 30%;
  margin: auto;
}

.width-20 {
  width: 20%;
  margin: auto;
}

.width-10 {
  width: 10%;
  margin: auto;
}

.width-5 {
  width: 5%;
  margin: auto;
}

.width-0 {
  width: 0;
  overflow: hidden;
}

.max-width {
  max-width: 100vw;
  overflow: hidden;
}

.margin-x-20 {
  margin: 0 20px;
}

.margin-x-10 {
  margin: 0 10px;
}

.margin-x-5 {
  margin: 0 5px;
}

.margin-y-20 {
  margin: 20px 0;
}

.margin-y-10 {
  margin: 10px 0;
}

.margin-y-5 {
  margin: 5px 0;
}
.padding-r-10 {
  padding: 0 10px 0 0;
}

.padding-r-20 {
  padding: 0 20px 0 0;
}
.padding-r-30 {
  padding: 0 30px 0 0;
}
.padding-r-40 {
  padding: 0 40px 0 0;
}
.padding-r-100 {
  padding: 0 50px 0 0;
}
.padding-r-1200 {
  padding: 0 20vw 0 0;
}

.padding-x-20 {
  padding: 0 20px;
}
.padding-x-10 {
  padding: 0 10px;
}

.padding-x-5 {
  padding: 0 5px;
}

.padding-y-20 {
  padding: 20px 0;
}

.padding-y-10 {
  padding: 10px 0;
}

.padding-y-5 {
  padding: 5px 0;
}

.padding-5 {
  padding: 2.5px 5px;
}
.padding-10 {
  padding: 5px 10px;
}
.padding-20 {
  padding: 10px 20px;
}

.no-border {
  border: none;
  outline: none;
}

.margin-auto {
  margin: auto;
}

.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}
.bottom-1 {
  bottom: 10px;
}
.bottom-2 {
  bottom: 20px;
}
.bottom-3 {
  bottom: 30px;
}
.bottom-4 {
  bottom: 40px;
}
.bottom-5 {
  bottom: 50px;
}

.z-index {
  z-index: 1;
}

.z-index-10 {
  z-index: 2;
}

.z-index-20 {
  z-index: 3;
}

.z-index-30 {
  z-index: 4;
}

.z-index-40 {
  z-index: 5;
}

.z-index-50 {
  z-index: 6;
}

.menu {
  cursor: pointer;
}

.menu-bar {
  width: 17px;
  height: 2px;
  margin: 3px;
}

.gradient-text {
  background: linear-gradient(to right, tomato, blue, green);
  color: transparent;
  background-clip: text;
}

.font-1 {
  font-size: 1.1rem;
}

.font-2 {
  font-size: 1.2rem;
}

.font-3 {
  font-size: 1.3rem;
}

.font-4 {
  font-size: 1.4rem;
}

.font-5 {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}
.overflow-hidden{
  overflow: hidden;
}


/* Custom CSS ends Here */



.show-welcome {
  width: 100%;
  height: 70vh;
  font-size: 2rem;
  overflow: hidden;
  background: #A8C7FA;
  display: flex;
  justify-content: center;
    align-items: center;
  }
  
  


@media only screen and (min-width: 50px) and (max-width: 1024px) {
  .none {
    display: none;
  }
  .mobile-only {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: red;
  }
   
}


.grid-un-equal {
  grid-template-columns: 2fr 1fr;
}
.copy-icon {
  bottom: -35px;
  right: 150px;
}